/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@keyframes kissa1_anim {
    0% {opacity: 0.0; left: 0px; top: 0px;}
    50% {opacity: 1.0; left: 800px; top: 400px; }
    100% {opacity: 0.0; left: 0px; top: 0px; }
}

#kissa1_anim {
    z-index: 10;
    position: absolute;
    animation-name: kissa1_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes kissa2_anim {
    0% {width: 1000px; }
    50% {width: 100px; }
    100% {width: 1000px; }
}

#kissa2_anim {
    z-index: 1;
    position: absolute;
    animation-name: kissa2_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes kissa3_anim {
    0% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    33% { -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
    66% { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    100% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

#kissa3_anim {
    z-index: 10;
    position: absolute;
    top: 100px;
    right: 200px;
    animation-name: kissa3_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes kissa4_anim {
    0% { -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    25% { -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    50% { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
    75% { -ms-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg); }
    100% { -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

#kissa4_anim {
    z-index: 10;
    position: absolute;
    top: 300px;
    right: 200px;
    animation-name: kissa4_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes kissa5_anim {
     0% { -ms-transform: rotate3d(0.5,0.5,0,0deg); -webkit-transform: rotate3d(0.5,0.5,0,0deg); transform: rotate3d(0.5,0.5,0,0deg); }
     25% { -ms-transform: rotate3d(0.5,0.5,0,-90deg); -webkit-transform: rotate3d(0.5,0.5,0,-90deg); transform: rotate3d(0.5,0.5,0,-90deg); }
     50% { -ms-transform: rotate3d(0.5,0.5,0,-180deg); -webkit-transform: rotate3d(0.5,0.5,0,-180deg); transform: rotate3d(0.5,0.5,0,-180deg);}
     75% { -ms-transform: rotate3d(0.5,0.5,0,-270deg); -webkit-transform: rotate3d(0.5,0.5,0,-270deg); transform: rotate3d(0.5,0.5,0,-270deg);}
     100% { -ms-transform: rotate3d(0.5,0.5,0,-360deg); -webkit-transform: rotate3d(0.5,0.5,0,-360deg); transform: rotate3d(0.5,0.5,0,-360deg);}
 }

#kissa5_anim {
    z-index: 15;
    position: absolute;
    top: 350px;
    left: 100px;
    animation-name: kissa5_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes kissa6_anim {
    0% { -ms-transform: rotate3d(-0.5,-0.8,0,0deg); -webkit-transform: rotate3d(-0.5,-0.8,0,0deg); transform: rotate3d(-0.5,-0.8,0,0deg); }
    25% { -ms-transform: rotate3d(-0.5,-0.8,0,90deg); -webkit-transform: rotate3d(-0.5,-0.8,0,90deg); transform: rotate3d(-0.5,-0.8,0,90deg); }
    50% { -ms-transform: rotate3d(-0.5,-0.8,0,180deg); -webkit-transform: rotate3d(-0.5,-0.8,0,180deg); transform: rotate3d(-0.5,-0.8,0,180deg); }
    75% { -ms-transform: rotate3d(-0.5,-0.8,0,270deg); -webkit-transform: rotate3d(-0.5,-0.8,0,270deg); transform: rotate3d(-0.5,-0.8,0,270deg); }
    100% { -ms-transform: rotate3d(-0.5,-0.8,0,360deg); -webkit-transform: rotate3d(-0.5,-0.8,0,360deg); transform: rotate3d(-0.5,-0.8,0,360deg); }
}

#kissa6_anim {
    z-index: 15;
    position: absolute;
    top: 350px;
    left: 500px;
    animation-name: kissa6_anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}